# Logs
logs
*.log
npm-debug.log*
.env
.env.js
.env.json
.env-cmdrc
# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode
node_modules
